<footer class="footer">
	<small>
		<a href="http://www.iliareingold.com">Developer's Site</a>
		by Ilia Reingold
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<li><a href="http://www.iliareingold.com/blog/">Newest Articles</a></li>
		</ul>
	</nav>
</footer>