<footer class="footer">
	<small>
		<a href="iliareingold.com">Developer's Site</a>
		by Ilia Reingold
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   '#' %></li>
			<li><%= link_to "Contact", '#' %></li>
			<li><a href="iliareingold.com/blog/">Newest Articles</a></li>
		</ul>
	</nav>
</footer>